<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>$anchorScroll Sample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="../lib/bootstrap.css" rel="stylesheet" type="text/css" />
    <style>
    .my-container{
        height: 240px;
        width: 440px;
        background-color: white;
        margin: 20px 20px 0 20px;s
    }
    </style>
</head>

<body ng-app="anchorScrollSample">
    <div class="jumbotron" ng-controller="anchorScrollCtrl" style="background-color:#BDBDBD;">
        <!-- Add values to the cache using this form -->
        <div class="container">
            <div>
                <div class="button-group">
                    <input type="button" class="btn btn-sm btn-primary-outline" value="Go to card Three" ng-click="jumpToContainer3()"/>
                    <inout type="text" class="form-control" ng-model="locationvalue" />
                    <input type="button" class="btn btn-sm btn-primary-outline" value="Go to current anchor" />
                </div>
                <div class="my-container" id="one">
                    <h3>My Container One</h3>
                </div>
                <div class="my-container" id="two">
                    <h3>My Container Two</h3>
                </div>
                <div class="my-container" id="three">
                    <h3>My Container Three</h3>
                </div>
                <div class="my-container" id="four">
                    <h3>My Container Four</h3>
                </div>
                <div class="my-container" id="five">
                    <h3>My Container Five</h3>
                </div>
            </div>
        </div>
    </div>
    <script src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>
