<div class="container">
  <h2>My todos</h2>

  <!-- Todos list -->
  <div ui-sortable ng-model="todos">
    <div ng-repeat="todo in todos" class="card">
      <div ng-disabled="todo.completed">
        <div class="card-header">
          <div class="input-group-btn btn-block">
            <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
          </div>

          <h3 ng-bind="todo.title"></h3>
        </div>
        <div class="card-block">
          <h4 class="card-title"><span ng-bind="todo.description"></span></h4>
          <p class="card-text">Priority : <span ng-bind="todo.priority"></span></p>
          <input type="checkbox" ng-click="markCompleted($index)"/> Mark Completed
        </div>
    </div>
  </div>

  <!-- Todos input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div>Add a TODO :</div>
      <div class="input-group input-block">
        <input type="text" ng-model="title" placeholder="What needs to be done?" class="form-control">
        <input type="text" ng-model="description" placeholder="Details.." class="form-control">
        <input type="text" ng-model="priority" placeholder="What is the priority?" class="form-control">
      </div>
        <div class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </div>

    </div>
  </form>
</div>
